In [1]:
import numpy as np
import pandas as pd

In [3]:
a = pd.Series([2, 3, 4, 5])
a

0    2
1    3
2    4
3    5
dtype: int64

In [4]:
a[0]

2

In [5]:
a[1:3]

1    3
2    4
dtype: int64

In [7]:
a.sum()

14

In [8]:
a.mean()

3.5

In [2]:
col_1 = np.array(['A', 'B', 'A', 'C', 'D'])
col_2 = np.array([1, 2, 3, 4, 5])
col_3 = np.array([3, 6, 7, 8, 2])

df = pd.DataFrame({'col_1': col_1, 'col_2': col_2, 'col_3': col_3})
df.head()

  col_1  col_2  col_3
0     A      1      3
1     B      2      6
2     A      3      7
3     C      4      8
4     D      5      2

In [3]:
# データの形
df.shape

(5, 3)

In [4]:
# データフレームの列の取り出し
df['col_1']

0    A
1    B
2    A
3    C
4    D
Name: col_1, dtype: object

In [5]:
# indexが2の行を抽出
df.iloc[2]

col_1    A
col_2    3
col_3    7
Name: 2, dtype: object

In [6]:
# indexが2の行以降を抽出
df.iloc[2:]

  col_1  col_2  col_3
2     A      3      7
3     C      4      8
4     D      5      2

In [7]:
# 3行2列の要素
df.iloc[2, 1]

3

In [8]:
# col_1がAを抽出
df[df['col_1'] == 'A']

  col_1  col_2  col_3
0     A      1      3
2     A      3      7

In [11]:
#queryを使って条件抽出
df.query('col_1 == "B"')

  col_1  col_2  col_3
1     B      2      6