In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [3]:
data_prefecture = pd.read_csv("data_prefecture_category.csv", encoding='utf-8', index_col=0)
# 数値データへの変換
data_prefecture_float = data_prefecture.apply(lambda x: x.str.replace(',', '')).astype(np.float)

# 標準化
scaler = StandardScaler()
data_std = scaler.fit_transform(data_prefecture_float)

In [4]:
k_means = KMeans(n_clusters=4)
k_means.fit(data_std)

print(k_means.labels_)

[0 2 2 2 2 0 0 3 3 3 0 1 3 3 2 0 3 2 2 0 3 0 3 1 1 2 2 2 3 2 2 2 0 1 2 1 0
 1 1 1 0 2 1 1 2 0 2 1 2 2 1 1]

In [5]:
data_prefecture_float["label"] = k_means.labels_

# クラスター0の都市を表示
print(data_prefecture_float[data_prefecture_float["label"] == 0]["label"])

都道府県
札幌市      0
山形市      0
福島市      0
さいたま市    0
富山市      0
長野市      0
静岡市      0
岡山市      0
高松市      0
佐賀市      0
鹿児島市     0
Name: label, dtype: int32

In [6]:
# クラスター0の都市を表示
print(data_prefecture_float[data_prefecture_float["label"] == 1]["label"])

都道府県
千葉市     1
津市      1
大津市     1
広島市     1
徳島市     1
松山市     1
高知市     1
福岡市     1
熊本市     1
大分市     1
川崎市     1
堺市      1
北九州市    1
Name: label, dtype: int32

In [7]:
# クラスター0の都市を表示
print(data_prefecture_float[data_prefecture_float["label"] == 2]["label"])

都道府県
青森市     2
盛岡市     2
仙台市     2
秋田市     2
新潟市     2
福井市     2
甲府市     2
京都市     2
大阪市     2
神戸市     2
和歌山市    2
鳥取市     2
松江市     2
山口市     2
長崎市     2
宮崎市     2
那覇市     2
相模原市    2
浜松市     2
Name: label, dtype: int32

In [8]:
# クラスター0の都市を表示
print(data_prefecture_float[data_prefecture_float["label"] == 3]["label"])

都道府県
水戸市      3
宇都宮市     3
前橋市      3
東京都区部    3
横浜市      3
金沢市      3
岐阜市      3
名古屋市     3
奈良市      3
Name: label, dtype: int32

In [12]:
k_means_feature = pd.concat([
    data_prefecture_float[data_prefecture_float["label"] == 0].mean(),
    data_prefecture_float[data_prefecture_float["label"] == 1].mean(),
    data_prefecture_float[data_prefecture_float["label"] == 2].mean(),
    data_prefecture_float[data_prefecture_float["label"] == 3].mean()],
    axis = 1
)

k_means_feature

                    0              1              2              3
食    料  793032.727273  779291.230769  733061.157895  878062.777778
住    居  251055.636364  203780.615385  203540.210526  238086.222222
光熱・水道   235341.727273  199414.615385  214298.421053  220318.777778
家具・家事   105362.090909  115554.076923   88923.263158  113086.444444
被服及び    115495.545455  119464.076923   93040.105263  143041.444444
保健医療    135523.636364  118526.384615  114436.631579  141919.888889
交通・通信   450950.636364  360541.769231  352341.473684  457075.444444
教    育   71907.909091   91357.076923   57413.052632  128130.111111
教養娯楽    289388.636364  316572.538462  252132.578947  370001.444444
諸 雑 費   246125.909091  256004.000000  221891.105263  290556.888889
label        0.000000       1.000000       2.000000       3.000000