In [7]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import random
%matplotlib inline
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

import requests
import json
import re

In [8]:
url_path = "https://www.land.mlit.go.jp/webland/api/TradeListSearch?from=20171&to=20184&area=13"
request_result = requests.get(url_path)
data_json = request_result.json()["data"]

In [9]:
print(len(data_json))

63052

In [10]:
data_pd = pd.io.json.json_normalize(data_json)
print(data_pd.shape)

(63052, 27)

In [11]:
print(data_pd.head(10))

        Type MunicipalityCode Prefecture Municipality DistrictName TradePrice  \
0   中古マンション等            13101        東京都         千代田区          飯田橋   24000000
1   中古マンション等            13101        東京都         千代田区          飯田橋   13000000
2  宅地(土地と建物)            13101        東京都         千代田区          飯田橋  250000000
3   中古マンション等            13101        東京都         千代田区          飯田橋   22000000
4   中古マンション等            13101        東京都         千代田区          飯田橋   69000000
5   中古マンション等            13101        東京都         千代田区          飯田橋   21000000
6   中古マンション等            13101        東京都         千代田区          飯田橋   81000000
7   中古マンション等            13101        東京都         千代田区          飯田橋   45000000
8   中古マンション等            13101        東京都         千代田区          飯田橋   66000000
9   中古マンション等            13101        東京都         千代田区          飯田橋   19000000

  FloorPlan Area BuildingYear Structure  ... Region LandShape Frontage  \
0      １ＬＤＫ   35        昭和60年       ＳＲＣ  ...    NaN       NaN      NaN
1        １Ｋ   20        昭和57年       ＳＲＣ  ...    NaN       NaN      NaN
2       NaN   80        昭和61年        ＲＣ  ...    商業地      ほぼ台形      6.8
3        １Ｋ   30        昭和60年       ＳＲＣ  ...    NaN       NaN      NaN
4      ２ＬＤＫ   70        昭和59年       ＳＲＣ  ...    NaN       NaN      NaN
5        １Ｋ   25        昭和60年       ＳＲＣ  ...    NaN       NaN      NaN
6      ３ＬＤＫ   70        平成19年        ＲＣ  ...    NaN       NaN      NaN
7      １ＬＤＫ   45        昭和57年       ＳＲＣ  ...    NaN       NaN      NaN
8      ２ＬＤＫ   55        昭和59年       ＳＲＣ  ...    NaN       NaN      NaN
9        １Ｋ   20        平成15年        ＲＣ  ...    NaN       NaN      NaN

  TotalFloorArea Direction Classification Breadth Remarks PricePerUnit  \
0            NaN       NaN            NaN     NaN     NaN          NaN
1            NaN       NaN            NaN     NaN     NaN          NaN
2            330        南西             区道     8.0     NaN          NaN
3            NaN       NaN            NaN     NaN     NaN          NaN
4            NaN       NaN            NaN     NaN     NaN          NaN
5            NaN       NaN            NaN     NaN     NaN          NaN
6            NaN       NaN            NaN     NaN     NaN          NaN
7            NaN       NaN            NaN     NaN     NaN          NaN
8            NaN       NaN            NaN     NaN     NaN          NaN
9            NaN       NaN            NaN     NaN     NaN          NaN

  UnitPrice
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN

[10 rows x 27 columns]